// fonts starts
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//font-family: "Montserrat", sans-serif;
//font-family: "Inter", sans-serif;
// fonts ends

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-family: "Montserrat", sans-serif;
  font-family: "Inter", sans-serif;
}

//Color Section Start

$primary_color: #A90201;

$white_color: #ffffff;

$light_color: #CCCCCC;
$light_BG_color: #FDFAFA;

$dark_color: #222222;
$text_color: #7C7C7C;

$gradientBg:linear-gradient(180deg, #A90201 0%, #430100 100%);;

.primaryBg_color{
  background: $primary_color !important;
}

.whiteBg_color{
  background: $white_color !important;
}

.color_white{
  color: $white_color !important;
}

.color_primary{
  color: $primary_color !important;
}

.color_dark{
  color : $dark_color
}

.lightBgColor{
  background: $light_BG_color;
}

//Color Section End


html{
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0px;
    background: #000;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: $primary_color;
    opacity: 1;
  }
}

.modal{
  z-index: 9999;
}

.btn-close{
  box-shadow: none;
  outline: none;
  border: 0;
}

.position-relative{
  z-index: 1;
}


body{
  background: $white_color;
  overflow-x: hidden;
  position: relative;
  //font-family: "Montserrat", sans-serif;
  font-family: "Inter", sans-serif;
  color: $dark_color
}

.hide{
  display:none
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1 {
  margin: 0;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  color: $dark_color;
}


h2 {
  margin: 0;
  line-height: 1.2;
  font-size: 52px;
  font-weight: 700;
  color: $dark_color;
}

h3 {
  margin: 0;
  line-height: 1.2;
  font-size: 32px;
  font-weight: 700;
  color: $dark_color;
}

h4 {
  margin: 0;
  line-height: 1.3;
  font-size: 24px;
  color: $dark_color;
}

h5 {
  margin: 0;
  line-height: 1.3;
  font-size: 22px;
  color: $dark_color;
}

h6 {
  margin: 0;
  line-height: 1.3;
  font-size: 20px;
  color: $dark_color;
}


ul {
  padding-left: 0;
  margin-bottom: 0;
  li {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.75;
    color: $text_color;
    text-decoration: none;
    list-style: none;
  }
}

ol {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 15px;
  li {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.75;
    color: $text_color;
    padding-left: 10px;
  }
}

p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.75;
  color: $text_color;
  b{
    color: $dark_color;
    font-weight: 600;
  }
  strong{
    color: $text_color;
    font-weight: 600;
  }
  a{
    margin-left: 7px;
    color: $primary_color;
    font-weight: 700;
    &:hover{
      color: $text_color;
    }
  }
}

i {
}

a {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.75;
  text-decoration: none;
  color: $primary_color;
  transition:  1s;
  transition-timing-function: ease;
}

button{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.75;
  text-decoration: none;
  color: $primary_color;
  transition:  1s;
  transition-timing-function: ease;
}

.outlineHead{
  font-size: 94px;
  line-height: .8;
  font-weight: 700;
  color: transparent;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $primary_color;
  opacity: .2;
  font-family: "Kanit", sans-serif;
}

.nonOutlineHead{
  color: $dark_color;
  font-size: 94px;
  line-height: .8;
  font-weight: 700;
  font-family: "Kanit", sans-serif;
}

.coloDarkOutline{
  -webkit-text-stroke-color: $dark_color;
  opacity: 1;
}



.textWrapper{
  p{
    margin-bottom: 10px;
    a{
      padding-left: 0;
      margin-left: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  ul{
    margin-top: 5px;
    margin-bottom: 10px;
    li{
      margin-bottom: 9px;
      position: relative;
      padding-left: 27px;
      &::before{
        position: absolute;
        content: '';
        display: inline-block;
        top: 8px;
        left: 0;
        width: 12px;
        height: 12px;
        background: url("../images/svg/list-square.svg") no-repeat;
        background-size: 12px;
      }
    }
  }
  img{
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  h1,h2,h3,h4,h5,h6{
    font-size: 22px;
    font-weight: 700;
    line-height: 1.4;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
  }
}

form {
  label{
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 400;
    color: $dark_color;
    span{
      color: red;
    }
  }
  .form-group {
    position: relative;
    margin-bottom: 25px;
    .error{
      color: red;
      text-align: left;
      font-size: 12px;
      margin-top: 5px;
    }
    .form-control {
      margin-bottom: 0;
      border-radius: 8px;
      background: $white_color;
      border: 1px solid #DADBE4;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.75;
      color: $text_color;
      padding: 10px 15px;

      &:focus {
        box-shadow: none;
      }

      &::placeholder {
        color: $text_color;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $text_color;
      }

      &::-ms-input-placeholder {
        color: $text_color;
      }
    }

    textarea.form-control{
      resize: none;
      height: 130px;
    }

    .iti__selected-flag{
      padding: 0 20px;
      font-weight: 600;
    }

    .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag{
      //background: $white_color;
    }
    .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
      background-color: transparent;
    }

    .iti__flag {
      //display: none;
    }

    .iti__arrow{
      border: 0;
      width: 12px;
      height: 7px;
      background: url("../images/numberDownArrow.png") center no-repeat;
      background-size: 11px;
      margin-left: 10px;
    }

    .iti__flag-box {
      //width: 0;
      //display: none;
      display: flex;
      align-items: center;
    }

    .iti__flag-container{
      //top: -10px;
    }

    .iti--separate-dial-code .iti__selected-flag {
      background-color: transparent;
      position: relative;
      border-right: 1px solid #000;

      //border-right: 1px solid #E0E0E0;
      &::after{
        position: absolute;
        right: 0;
        content: '';
        display: inline-block;
        width: 1px;
        height: 100%;
      }
    }

    .iti__active, .iti__highlight {
      background-color: $primary_color;
      color: $white_color;
    }

    .iti__active, .iti__highlight {
      .iti__dial-code {
        color: $white_color;
      }
    }

    .iti--separate-dial-code .iti__selected-dial-code{
      font-size: 16px;
      font-weight: 400;
      margin-left: 10px;

    }

    .iti__country-name, .iti__dial-code{
      font-size: 14px;
    }

    .iti__country-list {
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 6px;
        background: #CECEC5;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: $primary_color;
        opacity: 1;
      }
    }

    .iti__country{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1px;
    }

    .iti {
      width: 100% !important;
    }

    .select2-container--default .select2-selection--single{
      border: 0 !important;

      font-weight: 400;
      border-radius: 0;
      background: $white_color;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
      font-weight: 400;
      padding-left: 0;
      font-size: 16px;
      line-height: 1.3;

    }

    .select2-container--default .select2-results__option[aria-selected="true"]{
      background-color: $primary_color;
    }

    .select2-container{
      border: 0;
    }

    .select2-results__option{
      padding: 5px 15px;
      font-size: 14px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow b{
      border: 0 transparent;
      width: 13px;
      height: 7px;
      background: url("../images/svg/downArrow.svg") center no-repeat;
      position: relative;
      top: 0;
      left: 0;
      margin-left: 0;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow{
      top: inherit !important;
      bottom: 9px !important;
      right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .select2.select2-container.select2-container--default{
      padding: 14px 20px;
      border: 1px solid #6d6d6d !important;
      position: inherit;
      border-radius: 5px;
      width: 100%;
    }

    .select2.select2-container.select2-container--default .selection{
      //padding: 15px 0px;
    }

    .select2-container--default .select2-results__option[aria-selected="true"] {
      background-color: #f7f7f7;
      color: $primary_color;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
      background-color: $primary_color;
      color: $white_color;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered{
      background: #f9f9f9;
    }

    .select2-container--default .select2-search--dropdown .select2-search__field{

    }
    .select2-container--default .select2-selection--single{
      height: inherit !important;
    }

    .select2-container--default .select2-results>.select2-results__options{
      &::-webkit-scrollbar {
        width: 7px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 0px;
        background: $dark_color;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 7px;
        background-color: $primary_color;
        opacity: 1;
      }
    }

    #file-input{
      display:none;
    }

    label[for='file-input'] *{
      vertical-align:middle;
      cursor:pointer;
    }

    label.form-control{
      display: flex;
      padding: 0;
      min-height: 50px;
    }

    .file-inputSpan{
      color: #202528 !important;
      word-break: break-all;
      //padding-right: 170px;
      font-size: 14px;
      padding: 13px 15px;
      line-height: 1.4;
    }

    .file-inputBtn{
      position: relative;
      border-radius: 0 0px 0px 0;
      background: transparent;
      color: #000;
      display: flex;
      align-items: center;
      grid-gap: 10px;
      padding: 13px 15px;
      font-size: 14px;
      border-right: 1px solid #6d6d6d;
      &:hover{
        background: $primary_color;
        color: $white_color;
      }
    }

  }

  textarea.form-control{
    resize: none;
    height: 64px;
  }
}

.select2-position{
  .position-relative{
    z-index: inherit !important;
  }
}


.fw-Regular{
  font-weight: 400 !important;
}

.fw-Medium {
  font-weight: 500 !important;
}

.fw-SemiBold{
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-ExtraBold {
  font-weight: 800 !important;
}

.fw-Black {
  font-weight: 900 !important;
}

svg{
  rect{
    transition: ease-in .5s;
  }
  path{
    transition: ease-in .5s;
  }
}

.primary_btn {
  margin: 0;
  overflow: hidden;
  color: $white_color;
  font-weight: 500;
  box-shadow: none;
  outline: none;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in .5s;
  position: relative;
  padding: 12px 24px;
  gap: 10px;
  background: linear-gradient(180deg, #A90201 0%, #430100 100%);
  border-radius: 6px;

  &:hover{
    color: $white_color;
    background: $dark_color;
  }
}

.secondary_btn{
  border: 2px solid $primary_color;
  background: linear-gradient(180deg, #A90201 0%, #430100 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  &:hover{
    background: linear-gradient(180deg, #A90201 0%, #430100 100%);
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
    background-clip: inherit;
    text-fill-color: transparent;
    color: $white_color;
  }
}


.slick-track{
 margin-left: 0 !important;
}

.slick-arrow{
  width: 35px;
  height: 35px;
  z-index: 9;
}

.slick-prev{
  left: 0;
  background: url("../images/svg/sliderPrev.svg") center no-repeat !important;
  background-size: 32px !important;
  &::before{
    display: none;
  }
  &:hover{
    background: url("../images/svg/sliderPrev.svg") center no-repeat !important;
    background-size: 32px !important;
  }
}

.slick-next{
  right: 0;
  background: url("../images/svg/sliderNext.svg") center no-repeat !important;
  background-size: 32px !important;
  &::before{
    display: none;
  }
  &:hover{
    background: url("../images/svg/sliderNext.svg") center no-repeat !important;
    background-size: 32px !important;
  }
}

.slickSliderNav{
  position: relative;
  display: flex;
  align-items: center;
  grid-gap: 20px;
  justify-content: end;
  width: 100%;
  .slick-prev{
    position: relative;
    top: 0 !important;
    left: 0 !important;
    transform: inherit !important;
  }
  .slick-next{
    position: relative;
    top: 0 !important;
    right: 0 !important;
    transform: inherit !important;
  }
}

.slick-dots{
  position: relative;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  grid-gap: 12px;
  li{
    margin: 0;
    outline: none;
    box-shadow: none;
    background-color: transparent !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    border: 2px solid $primary_color;
    opacity: .5;
    button{
      display: none;
    }
    &::before{
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background-color: $primary_color;
      position: absolute;
    }
  }
  .slick-active{
    border: 2px solid $primary_color;
    opacity: 1;
  }
}


@media (max-width: 1199.98px){
  .slick-arrow{
    width: 35px;
    height: 35px;
  }
  .slick-prev{
    left: 0;
    background: url("../images/svg/sliderPrev.svg") center no-repeat !important;
    background-size: 32px !important;
    &::before{
      display: none;
    }
    &:hover{
      background: url("../images/svg/sliderPrev.svg") center no-repeat !important;
      background-size: 32px !important;
    }
  }
  .slick-next{
    right: 0;
    background: url("../images/svg/sliderNext.svg") center no-repeat !important;
    background-size: 32px !important;
    &::before{
      display: none;
    }
    &:hover{
      background: url("../images/svg/sliderNext.svg") center no-repeat !important;
      background-size: 32px !important;
    }
  }
}

.slick-dotted.slick-slider{
  margin-bottom: 0 !important;
}


@media (max-width: 1699.98px){
  h1{
    font-size: 55px;
  }

  h2{
    font-size: 48px;
  }
}

@media (max-width: 1549.98px){
  h1{
    font-size: 49px;
  }
  h2{
    font-size: 44px;
  }
  h3{
    font-size: 28px;
  }
  p, a, button, ul li, ol li{
    font-size: 17px;
  }
  form{
    label{
      font-size: 13px;
    }
    .form-group{
      .form-control{
        font-size: 17px;
      }
    }
  }
  .primary_btn{
    padding: 10px 20px;;
  }
}

@media (max-width: 1499.98px){
  h1{
    font-size: 45px;
  }
  .outlineHead, .nonOutlineHead{
    font-size: 84px;
  }
  h2{
    font-size: 39px;
  }
  h3{
    font-size: 28px;
  }
  p, a, button, ul li, ol li{
    font-size: 16px;
  }
  form{
    .form-group{
      .form-control{
        font-size: 16px;
      }
    }
  }
}


@media(max-width: 1399.98px){
  h1{
    font-size: 40px;
  }
  .outlineHead, .nonOutlineHead{
    font-size: 76px;
  }
  h2{
    font-size: 35px;
  }
  h3{
    font-size: 28px;
  }
  p, a, button, ul li, ol li{
    font-size: 15px;
  }
  form{
    .form-group{
      .form-control{
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 1299.98px){
  h1{
    font-size: 37px;
  }
  .outlineHead, .nonOutlineHead{
    font-size: 66px;
  }
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 26px;
  }
  .primary_btn{
    padding: 10px 17px;;
  }
}

@media (max-width: 1199.98px){

  h1{
    font-size: 35px;
  }

  .outlineHead, .nonOutlineHead{
    font-size: 60px;
  }

  h2{
    font-size: 30px;
  }
  h3{
    font-size: 24px;
  }
  h4{
    font-size: 23px;
  }
  h5{
    font-size: 21px;
  }
  h6 {
    font-size: 19px;
  }

  p, a, button, ul li, ol li{
    font-size: 14px;
  }

  form{
    .form-group{
      .form-control{
        font-size: 14px;
      }
    }
  }

  .textWrapper{
    ul{
      li{
        &::before{
          width: 10px;
          height: 10px;
          background-size: 10px;
        }
      }
    }
  }

  form {
    .form-group {
      .form-control{
        font-size: 15px;
      }
      .iti--separate-dial-code .iti__selected-dial-code{
        font-size: 15px;
        line-height: 24px;
      }

      .select2-container--default .select2-selection--single .select2-selection__rendered{
        font-size: 15px;
        line-height: 24px;
      }

      .select2.select2-container.select2-container--default{
        padding: 13px 20px;
      }

      .select2-container--default .select2-selection--single .select2-selection__arrow{
        bottom: 9px !important;
      }

    }
  }
}

@media (max-width: 991.98px){

  h1{
    font-size: 33px;
  }

  .outlineHead, .nonOutlineHead{
    font-size: 55px;
  }

  h2{
    font-size: 29px;
  }
  h3{
    font-size: 23px;
  }
  h4{
    font-size: 22px;
  }
  h5{
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }

  p, a, button, ul li, ol li{
    font-size: 14px;
  }

  .primary_btn{
    padding: 8px 14px;;
  }

  .textWrapper{
    ul{
      li{
        padding-left: 24px;
        &::before{
          width: 9px;
          height: 9px;
          background-size: 9px;
          top: 7px;
        }
      }
    }
  }

}

@media (max-width: 767px){

  h1{
    font-size: 30px;
  }

  .outlineHead, .nonOutlineHead{
    font-size: 50px;
  }

  h2{
    font-size: 28px;
  }
  h3{
    font-size: 22px;
  }
  h4{
    font-size: 21px;
  }
  h5{
    font-size: 19px;
  }
  h6 {
    font-size: 17px;
  }

  form {
    .form-group {
      .form-control{
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 650px){
  h1{
    font-size: 27px;
  }
  .outlineHead, .nonOutlineHead{
    font-size: 40px;
  }
  h2{
    font-size: 25px;
  }
  h3{
    font-size: 21px;
  }
}

@media (max-width: 575px){

  form {
    .form-group {
      .iti__country-list {
        width: 320px;
      }
    }
  }
}

@media (min-width: 1550px){
  .container{
    max-width: 1500px;
  }
}


@media (min-width: 1650px){
  .container{
    max-width: 1620px;
  }
}
