.mt-10{
  margin-top: 10px !important;
}
.mt-15{
  margin-top: 15px !important;
}

.mt-20{
  margin-top: 20px !important;
}

.mt-30{
  margin-top: 30px !important;
}

.mt-40{
  margin-top: 40px !important;
}

.mt-50{
  margin-top: 50px !important;
}

.mt-60{
  margin-top: 60px !important;
}

.mt-70{
  margin-top: 70px !important;
}

.mt-90{
  margin-top: 90px !important;
}

.mt-100{
  margin-top: 100px !important;
}

.mb-100{
  margin-bottom: 100px !important;
}

.mb-10{
  margin-bottom: 10px !important;
}

.mb-15{
  margin-bottom: 15px !important;
}


.mb-20{
  margin-bottom: 20px !important;
}

.mb-30{
  margin-bottom: 30px !important;
}

.mb-40{
  margin-bottom: 40px !important;
}

.mb-50{
  margin-bottom: 50px !important;
}

.mb-60{
  margin-bottom: 60px !important;
}

.mb-70{
  margin-bottom: 70px !important;
}

.pt-100{
  padding-top: 100px !important;
}

.pt-90{
  padding-top: 90px !important;
}

.pt-80{
  padding-top: 80px !important;
}

.pt-70{
  padding-top: 70px !important;
}

.pt-60{
  padding-top: 60px !important;
}

.pt-50{
  padding-top: 50px !important;
}


.pb-100{
  padding-bottom: 100px !important;
}

.pb-90{
  padding-bottom: 90px !important;
}

.pb-80{
  padding-bottom: 80px !important;
}

.pb-70{
  padding-bottom: 70px !important;
}

.pb-60{
  padding-bottom: 60px !important;
}

.pb-50{
  padding-bottom: 50px !important;
}

@media (max-width: 1199.98px){
  .pt-100{
    padding-top: 70px !important;
  }

  .pt-90{
    padding-top: 60px !important;
  }

  .pt-80{
    padding-top: 50px !important;
  }

  .pt-70{
    padding-top: 40px !important;
  }

  .pt-60{
    padding-top: 50px !important;
  }

  .pb-100{
    padding-bottom: 70px !important;
  }

  .pb-90{
    padding-bottom: 70px !important;
  }

  .pb-80{
    padding-bottom: 50px !important;
  }

  .pb-70{
    padding-bottom: 40px !important;
  }

  .pb-60{
    padding-bottom: 50px !important;
  }

  .mt-30{
    margin-top: 20px !important;
  }
  .mt-40{
    margin-top: 30px !important;
  }
  .mt-50{
    margin-top: 40px !important;
  }
  .mt-60{
    margin-top: 50px !important;
  }
  .mt-70{
    margin-top: 60px !important;
  }
  .mt-90{
    margin-top: 80px !important;
  }
  .mb-30{
    margin-bottom: 25px !important;
  }
  .mb-40{
    margin-bottom: 30px !important;
  }
  .mb-50{
    margin-bottom: 40px !important;
  }
  .mb-60{
    margin-bottom: 50px !important;
  }
  .mb-70{
    margin-bottom: 60px !important;
  }

  .mt-100{
    margin-top: 70px !important;
  }

  .mb-100{
    margin-bottom: 70px !important;
  }

}

@media (max-width: 991.98px){
  .pt-100{
    padding-top: 60px !important;
  }

  .pt-90{
    padding-top: 40px !important;
  }

  .pt-80{
    padding-top: 30px !important;
  }

  .pt-70, .pt-60, .pt-50{
    padding-top: 40px !important;
  }

  .pb-100{
    padding-bottom:60px !important;
  }

  .pb-90{
    padding-bottom: 50px !important;
  }

  .pb-80{
    padding-bottom: 30px !important;
  }

  .pb-70, .pb-60, .pb-50{
    padding-bottom: 40px !important;
  }

  .mt-50{
    margin-top: 30px !important;
  }

  .mb-40{
    margin-bottom: 20px !important;
  }

  .mt-100{
    margin-top: 50px !important;
  }

  .mb-100{
    margin-bottom: 50px !important;
  }

  .mt-70{
    margin-top: 50px !important;
  }

  .mb-70{
    margin-bottom: 60px !important;
  }

  .mt-90{
    margin-top: 70px !important;
  }
}

@Media(max-width: 767px){
  .mt-60 {
    margin-top: 40px !important;
  }
  .mt-90{
    margin-top: 70px !important;
  }
}
